.detalle-noticia {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.detalle-noticia h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.detalle-noticia img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.detalle-noticia p {
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.info-extra {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.boton-mapa {
  background-color: #2c3e50;
  color: white;
  padding: 6px 12px;
  font-size: 0.85rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-mapa:hover {
  background-color: #1a242f;
}

.input-comentario {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
}

.boton-mapa-comentario {
  background-color: #286b4c;
  color: white;
  padding: 6px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
